<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="serviceDefault" name="SampleWCF.WcfService">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="SampleWCF.IWcfService" />
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="enableCorsBehaviour" type="SampleWCF.EnableCorsBehaviour, SampleWCF" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
          <enableCorsBehaviour />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceDefault">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
